.chat-input-form {
    max-width: 450px;
    border-radius: 40px;
    background: transparent;
    box-shadow: 0 4px 20px -2px #e9e9e9;
    position: relative;
    margin: auto;
    display: flex;
    margin-top: 25px;
}

.chat-input {
    padding: 10px 120px 10px 20px;
    width: 100%;
    height: 20px;
    border: 0;
    background: #fff;
    border-radius: 40px;
    border-top-style: none;
}

.chat-input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.send-button {
    overflow: visible;
    position: absolute;
    right: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #C0CBFF;
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
