html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

ul, ol {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F1F2F9;
}

.App-header {
  max-width: 100%;
  padding: 0 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 70px;
}

.App-header h1 {
  color: rgb(47, 50, 74);
  margin: 0;
}



